<img src="https://www.sturgischarterschool.com/wp-content/uploads/2019/06/sturgisheader_logo.png" alt="sturgis" width="250" align="right"/>

## Computer Science 'May I Recommend Part 2' notebook 12
### Sturgis Charter Public School

Student: [your name here]

Collaborators: [N/A]

Notes to the teacher: [N/A]

### Learning Objectives for notebook 

Part II

* The Dot Product
* Mean Square Error
* Gradient Descent
* Matrix Factorization

Helpful links:
* [Dot product 1: Built In](https://builtin.com/data-science/dot-product-matrix)
* [Dot product 2: Better Explained](https://betterexplained.com/articles/vector-calculus-understanding-the-dot-product/)
* 

In case you're curious:
* [Basic Markdown Syntax](https://www.markdownguide.org/basic-syntax/)
* [LaTex putting math in your Jupyter Notebooks](https://towardsdatascience.com/write-markdown-latex-in-the-jupyter-notebook-10985edb91fd)
* [Generating a table in Markdown](https://www.tablesgenerator.com/markdown_tables)

Note: Code for this notebook is largely sourced from other published articles. Credit where it's due: [Denise Chen](https://towardsdatascience.com/recommendation-system-matrix-factorization-d61978660b4b), who has an awesome article on exactly this topic. [George Seif](https://towardsdatascience.com/understanding-the-3-most-common-loss-functions-for-machine-learning-regression-23e0ef3e14d3) discusses Mean Squared Error. 

### The Dot Product

The dot product formula looks like the following. 

$$ \vec{a} \, \cdot \, \vec{b} = {a_1} \cdot \, {b_1}  + {a_n} \cdot \, {b_n}  $$

Let's think about matrices. To me the term has long had a connotation of mysterious, and difficult. Let's try and simplify things. A matrix is just a 2-dimensional array (at least to start). It is a series of one-dimensional arrays--or vectors--and that is pretty easy to understand. In looking at recommender systems it makes sense that we would have a vector. Consider the example below, where `Fn` is a feature number, and `U1` is a user. In this case we are simply saying, we know how much our user likes particular features. Just what are those features? We don't care right now! :D

|User |  F1 |  F2 | F3  | F4  |
|---|---|---|---|---|
| u1  | 1  | 3  |  7 |  0 |

Now let's imagine that we had another vector, but for this one we have items. The features between the two are the same, but on one hand we want to know how similar the user is to the item. In essence, which item should we recommend? Well to be honest, we can't do that with just a vector. We could take a guess at how much `u1` will like `i1`. That's going to be result of the dot product. 

|Item |  F1 |  F2 | F3  | F4  |
|---|---|---|---|---|
| i1  | 5  | 2  |  8 |  9 |

Let's multiply these two vectors. That's going to look like this:

$$ u1(F1) \cdot i1(F1) + u1(F2) \cdot i1(F2) + u1(F3) \cdot i1(F3) + u1(F4) \cdot i1(F4) = Total Similarity $$

Now there's a couple things to note. 

The first is `WHERE DID OUR VECTOR GO?` That's right it's gone, and when you look at the formula it makes sense.

$$ \vec{a} \, \cdot \, \vec{b} = {a_1} \cdot \, {b_1}  + {a_n} \cdot \, {b_n}  $$

Think of it this way. You may like a videogame for many reasons (features), but your overall liking of the game is a single score.

But that's a vector operation. We haven't even gotten to matrixes. What's interesting is that we may have a hundred features, but if we have only 1 user and 1 item, then we will have only 1 number as a result. 

...What happens if we have 10 users, and 10 features? You can look below for what that would look like. If we multiply those matrices, we will actually end up with a 10 by 10 matrix, even if we only had two features. 

Think about it, we would want to give a recommendation to each user for each item. And these 100 items will be represented as 10 vectors: 1 vector per user. $$ 10 \cdot \, 10 = 100 $$ 

The beauty is that while it's a bunch of math, we're in computer science. We can just ask the computer to do it for us. Thanks, Numpy and/or Pandas!

### Mean Squared Error

The Mean Error looks like the following: 

$$ \sum_{i=1}^{N}(x_i-y_i)^2 $$

And it's purpose is to be able to calculate how far off you were from a perfect guess. Think of it this way: we want to know not simply that our guess is wrong (it's almost guaranteed to be tha) but we want to know how wrong it is. This is basically playing a game of hot and cold. Our first guess is likely to be very cold, and so we want a high loss. Our second guess is going to be informed by our first guess, and so on and so forth. Now, the Mean Squared Error is simply a choice (and a very common data science choice) for how we know how far we off. It's the language we're choosing instead of `hotter` and `colder`. 

 

### Gradient Descent

### Matrix Factorization

In [1]:
#Let's load two csv's
import pandas as pd
usf = pd.read_csv('User_Features.csv')
itf = pd.read_csv('Item_Features.csv')

In [2]:
usf = usf.head(10)
itf = itf.head(10)

In [3]:
usf

   User_ID  Feature_1  Feature_2  Feature_3  Feature_4
0        1          1          2          3          5
1        2          5          4          2          4
2        3          5          5          0          3
3        4          1          0          4          3
4        5          3          1          5          0
5        6          1          5          0          0
6        7          4          4          1          0
7        8          3          2          2          2
8        9          1          1          3          1
9       10          4          3          1          4

In [4]:
itf

       Item_ID  Feature_1  Feature_2  Feature_3  Feature_4
0  066336499-X          0          1          5          1
1  641011154-1          3          5          3          1
2  146016374-5          3          0          1          5
3  382012236-2          2          0          1          1
4  138331276-1          4          2          3          2
5  796162498-8          4          5          5          0
6  887787368-X          4          0          2          1
7  788108101-5          3          4          3          2
8  867790747-5          0          0          2          0
9  466393741-1          2          1          4          5

In [5]:
usf = usf.iloc[:,1:5]

In [6]:
itf = itf.iloc[:,1:5]

In [7]:
usf

   Feature_1  Feature_2  Feature_3  Feature_4
0          1          2          3          5
1          5          4          2          4
2          5          5          0          3
3          1          0          4          3
4          3          1          5          0
5          1          5          0          0
6          4          4          1          0
7          3          2          2          2
8          1          1          3          1
9          4          3          1          4

In [8]:
itf = itf.T
itf

           0  1  2  3  4  5  6  7  8  9
Feature_1  0  3  3  2  4  4  4  3  0  2
Feature_2  1  5  0  0  2  5  0  4  0  1
Feature_3  5  3  1  1  3  5  2  3  2  4
Feature_4  1  1  5  1  2  0  1  2  0  5

In [9]:
usf.dot(itf)

    0   1   2   3   4   5   6   7   8   9
0  22  27  31  10  27  29  15  30   6  41
1  18  45  37  16  42  50  28  45   4  42
2   8  43  30  13  36  45  23  41   0  30
3  23  18  22   9  22  24  15  21   8  33
4  26  29  14  11  29  42  22  28  10  27
5   5  28   3   2  14  29   4  23   0   7
6   9  35  13   9  27  41  18  31   2  16
7  14  27  21  10  26  32  18  27   4  26
8  17  18  11   6  17  24  11  18   6  20
9  12  34  33  13  33  36  22  35   2  35

In [13]:

import numpy

def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
    '''
    R: rating matrix
    P: |U| * K (User features matrix)
    Q: |D| * K (Item features matrix)
    K: latent features
    steps: iterations
    alpha: learning rate
    beta: regularization parameter'''
    Q = Q.T

    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    # calculate error
                    eij = R[i][j] - numpy.dot(P[i,:],Q[:,j])

                    for k in range(K):
                        # calculate gradient with a and beta parameter
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])

        eR = numpy.dot(P,Q)

        e = 0

        for i in range(len(R)):

            for j in range(len(R[i])):

                if R[i][j] > 0:

                    e = e + pow(R[i][j] - numpy.dot(P[i,:],Q[:,j]), 2)

                    for k in range(K):

                        e = e + (beta/2) * (pow(P[i][k],2) + pow(Q[k][j],2))
        # 0.001: local minimum
        if e < 0.001:

            break

    return P, Q.T

In [14]:
R = [

     [5,3,0,1],

     [4,0,0,1],

     [1,1,0,5],

     [1,0,0,4],

     [0,1,5,4],
    
     [2,1,3,0],

    ]

R = numpy.array(R)
# N: num of User
N = len(R)
# M: num of Movie
M = len(R[0])
# Num of Features
K = 3

 
P = numpy.random.rand(N,K)
Q = numpy.random.rand(M,K)

 

nP, nQ = matrix_factorization(R, P, Q, K)

nR = numpy.dot(nP, nQ.T)

In [15]:
nR

array([[0.56789372, 0.66337993, 1.18777455, 0.56693192],
       [0.58650375, 0.76151882, 1.36665905, 0.71817359],
       [0.60418075, 0.56168273, 1.06424866, 0.54084651],
       [0.51709502, 0.64006557, 1.12615532, 0.51656425],
       [0.88579454, 1.0122524 , 1.78530861, 0.76902271],
       [0.50478452, 0.73715156, 1.27018709, 0.59761742]])

### Question 1 (and only one :) 

Use the above code, and the above example csv files for user and item features, and implement gradient descent. You should end up with an `R` dataframe that has no zeros in it. Remember the `R` dataframe is the combination of the `P`--User Features--and `Q`--Item Features dataframes.

In [ ]:
#Your code here

### Stretch Goal: Use item and user features from the previous notebook

This is definitely in the stretch goal category, but it would be awesome to have a recommender system that made a real recommendation, and not simply a mockaroo recommendation. This is NOT a requirement, and the only reward for all your hard work (which would be a lot of hard work) is the satisfaction of having built something awesome!